<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!--Currently logging to filesystem. If we prefer loggind to database: https://github.com/nlog/NLog/wiki/Database-target-->
    <target name="logToCsv" xsi:type="File" fileName="${basedir}/logs/log-${shortdate}.txt">
      <layout xsi:type="CSVLayout" delimiter="Tab">
        <withHeader>true</withHeader>
        <quoting>Auto</quoting>
        <quoteChar>"</quoteChar>
        <column name="DateTime" layout="${date:format=HH\:mm\:ss.ff}" />
        <column name="Level" layout="${level}" />
        <column name="Request" layout="${aspnet-request:serverVariable=HTTP_URL}${aspnet-request:queryString}" />
        <column name="Company" layout="${company-id}" />
        <column name="UserId" layout="${user-id}" />
        <column name="Username" layout="${user-username}" />
        <column name="ExceptionType" layout="${exception:format=type}" />
        <column name="Message" layout="${message}" />
      </layout>
    </target>
    <target name="logToDebugfile" xsi:type="File" fileName="${basedir}/logs/debug.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="logToCsv" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="logToDebugfile" />
  </rules>
</nlog>
