<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMySAMSApiWS">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="xxx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMySAMSApiWS"
                contract="MySAMSApiWS.IMySAMSApiWS" name="BasicHttpBinding_IMySAMSApiWS" />
        </client>
    </system.serviceModel>
</configuration>