<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mbprogresshud" version="0.9.2.0" targetFramework="xamarinios1" />
  <package id="MonoTouch.SlideoutNavigation" version="1.0.1" targetFramework="xamarinios1" />
  <package id="MvvmValidation" version="3.0.0" targetFramework="xamarinios1" />
  <package id="PCLStorage" version="1.0.2" targetFramework="xamarinios1" />
  <package id="Xam.Plugin.Connectivity" version="2.2.12" targetFramework="xamarinios1" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="xamarinios1" />
  <package id="Xamarin.SDWebImage" version="3.7.5" targetFramework="xamarinios1" />
  <package id="xamdialogs" version="1.1.0.0" targetFramework="xamarinios1" />
</packages>